fastapi==0.115.12
uvicorn==0.34.0
gunicorn==23.0.0

python-dotenv==1.0.1
psycopg2-binary==2.9.9

beautifulsoup4==4.13.3
lxml==5.3.1

tqdm==4.67.1
celery==5.5.0rc4

redis==5.2.1

beautifulsoup4==4.13.3
lxml==5.3.1
babel==2.17.0
dateparser==1.2.1
gologin==2025.1.21115126
python-dotenv==1.0.1
db-sqlite3==0.0.1
browser-cookie3==0.20.1
playwright==1.48.0
requests==2.32.2
sqlalchemy~=2.0.40
httpx==0.28.1
fake_useragent==2.1.0
imgkit==1.2.3
weasyprint==65.0
alembic==1.15.1
pycountry==24.6.1
apscheduler==3.11.0
boto3==1.37.31
pymongo==4.12.0
json5==0.12.0
attrs==25.3.0
pytest==8.3.5
pytest-xdist==3.8.0
jsondiff==2.2.1

python-json-logger==3.3.0
structlog==25.3.0

flower==2.0.1

db~=0.1.1
pydantic~=2.10.6
starlette~=0.46.1
blinker~=1.7.0
botocore~=1.37.31
tabulate~=0.9.0
colorama~=0.4.6
kombu~=5.5.1


fakeredis==2.31.0
minio==7.2.16
python-multipart==0.0.2